<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
                <div class="NewModel adjust">
                    <div class="row rowNotification">
                        <div class="col-md-6">
                            <div class="Filter FilterSearch">
                                <div class="form-group">
                                    <label>Select Bear of the Day</label>
                                    <select class="form-control"> 
                                        <option>AMZN</option>
                                        <option>Model </option>
                                        <option>FLPKT </option> 
                                        <option>TCS </option>
                                        <option>CEAT </option> 
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button class="Button">SEND</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="Filter FilterSearch">
                                <div class="form-group">
                                    <label>Select Bull of the Day</label>
                                    <select class="form-control"> 
                                        <option>AMZN</option>
                                        <option>Model </option>
                                        <option>FLPKT </option> 
                                        <option>TCS </option>
                                        <option>CEAT </option> 
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button class="Button">SEND</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="Filter FilterSearch pt-5">
                                <div class="form-group">
                                    <label>Enter Title of the Notification</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="Filter FilterSearch pt-5">
                                <div class="form-group">
                                    <label>Enter Notification Content</label>
                                    <textarea class="p-2" cols="300" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="Filter FilterSearch">
                                <div class="form-group">
                                    <button class="Button" style="width: 100%;">SEND NOTIFICATION</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>