<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
                <div class="enterKey">
                    <div class="SearchBox">
                        <a [routerLink]="['/support']">
                            << Back</a>
                    </div>
                </div>
                <div class="bread mt-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Support</li>
                            <li class="breadcrumb-item active" aria-current="page">Message</li>
                            <p>Edited on: 30, sept,20</p>
                        </ol>
                    </nav>
                </div>

                <div class="TradeConfirmation mb-5 mt-5">
                    <div class="mainTrade">
                        <h4 class="pb-2">Simmi Sharma </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                    </div>
                </div>

                    <div class="mainTrade">
                        <div class="Filter FilterSearch">
                            <div class="form-group planeRply">
                                <textarea placeholder="Reply..." id="" cols="250" rows="5" style="padding: 10px;"></textarea>
                                <a href="javascript:void(0)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                </div>


            </div>
        </div>
    </div>
</div>