<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
                <div class="enterKey">
                    <div class="SearchBox">
                        <h3>Support</h3>
                    </div>
                    
                </div>
                <div class="TableList" style="padding-top: 40px;">
                    <div class="mainTable ">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Client Name</th> 
                                    <th>Account Number</th>  
                                    <th>Email Address</th>  
                                    <th>Action </th>  
                                </tr>
                            </thead>
            
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Simmi Sharma</td> 
                                    <td>453678967</td>  
                                    <td>Email.gmail.com</td>  
                                    <td> 
                                        <a class="Blue  " [routerLink]="['/support-message']">View</a>
                                    </td> 
                                </tr>    
                                <tr>
                                    <td>2</td>
                                    <td>Vishal Yadav</td> 
                                    <td>453678967</td>  
                                    <td>Email.gmail.com</td>  
                                    <td> 
                                        <a class="Blue  " [routerLink]="['/support-message']">View</a>
                                    </td> 
                                </tr>  
                                <tr>
                                    <td>3</td>
                                    <td>Simmi Sharma</td> 
                                    <td>453678967</td>  
                                    <td>Email.gmail.com</td>  
                                    <td> 
                                        <a class="Blue  " [routerLink]="['/support-message']">View</a>
                                    </td> 
                                </tr>  
                                <tr>
                                    <td>4</td>
                                    <td>Simmi Sharma</td> 
                                    <td>453678967</td>  
                                    <td>Email.gmail.com</td>  
                                    <td> 
                                        <a class="Blue  " [routerLink]="['/support-message']">View</a>
                                    </td> 
                                </tr>  
                                <tr>
                                    <td>5</td>
                                    <td>Simmi Sharma</td> 
                                    <td>453678967</td>  
                                    <td>Email.gmail.com</td>  
                                    <td> 
                                        <a class="Blue  " [routerLink]="['/support-message']">View</a>
                                    </td>  
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                    <div class="Pagination">
                        <ul>
                            <li><a href="javaScript:void(0)"><img src="assets/images/left-arrow.svg" alt=""></a></li>
                            <li class="active"><a href="javaScript:void(0)">1</a></li>
                            <li><a href="javaScript:void(0)">2</a></li>
                            <li><a href="javaScript:void(0)">3</a></li>
                            <li><a href="javaScript:void(0)"><img src="assets/images/right-arrow.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
