<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
                <div class="enterKey">
                    <div class="SearchBox">
                        <a href="javaScript:void(0)" (click)=backClicked()><< Back</a>
                    </div>
                    <!-- <div class="SearchBox SearchBoxModel">
                        <a href="javaScript:void(0)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                    </div> -->
                </div>
                <div class="bread mt-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">Self Directed</li>
                          <li class="breadcrumb-item active" aria-current="page">Category Detail</li>
                          <p>Edited on: 30, sept,20</p>
                        </ol>
                      </nav>
                </div>

                <div class="adjust">
                    <div class="row">
                        <div class="col-md-3 colAdjust">
                            <h3>Name <span>FLAGSHIPS</span></h3>
                            <h3>Assigned Model <span>FLAGSHIPS</span></h3>
                        </div>
                        <div class="col-md-3 colAdjust">
                            <h3>Description <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate </span></h3>
                        </div>
                        <div class="col-md-6 chartMain colAdjust">
                            <!-- <div class="enterKey">
                                <div class="SearchBox">
                                    <form action="">
                                        <input type="text" placeholder="Search Top Holdings">
                                        <button type="button">Apply</button>
                                    </form>
                                </div>
                            </div> -->
                            <div class="chartCatgry">
                                <h3 class="text-left"><span><strong> Self Directed Category-1</strong></span>  </h3>
                            </div>
                            <div class="amznMain">
                                <h5 class="sky Blue viewArea pb-2">AMZN</h5>
                                <div class="amznMainInner categoryAmznMainInner">
                                    <div class="amznLeft">
                                        <div class="amznLeftInner">
                                            <img src="assets/images/logo.png" alt="">
                                        </div>
                                    </div>
                                    <div class="amznMid">
                                        <div class="amznMidInner">
                                            <div id="chart-7">
                                                <apx-chart
                                                  [series]="chartLineSparkline7Options.series"
                                                  [chart]="commonLineSparklineOptions.chart"
                                                  [tooltip]="commonLineSparklineOptions.tooltip"
                                                ></apx-chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="amznRight">
                                        <h4>$234</h4>
                                    </div>
                                </div>
                                <h5 class="sky Blue viewArea pb-2">AMZN</h5>
                                <div class="amznMainInner categoryAmznMainInner">
                                    <div class="amznLeft">
                                        <div class="amznLeftInner">
                                            <img src="assets/images/logo.png" alt="">
                                        </div>
                                    </div>
                                    <div class="amznMid">
                                        <div class="amznMidInner">
                                            <div id="chart-8">
                                                <apx-chart
                                                  [series]="chartLineSparkline8Options.series"
                                                  [chart]="commonLineSparklineOptions.chart"
                                                  [tooltip]="commonLineSparklineOptions.tooltip"
                                                ></apx-chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="amznRight">
                                        <h4>$234</h4>
                                    </div>
                                </div>
                                <h5 class="sky Blue viewArea pb-2">AMZN</h5>
                                <div class="amznMainInner categoryAmznMainInner">
                                    <div class="amznLeft">
                                        <div class="amznLeftInner">
                                            <img src="assets/images/logo.png" alt="">
                                        </div>
                                    </div>
                                    <div class="amznMid">
                                        <div class="amznMidInner">
                                            <div id="chart-9">
                                                <apx-chart
                                                  [series]="chartLineSparkline9Options.series"
                                                  [chart]="commonLineSparklineOptions.chart"
                                                  [tooltip]="commonLineSparklineOptions.tooltip"
                                                ></apx-chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="amznRight">
                                        <h4>$234</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>