<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
                <div class="enterKey">
                    <div class="SearchBox">
                        <a href="javaScript:void(0)" (click)=backClicked()><< Back</a>
                    </div>
                </div>
                <div class="bread mt-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">Trading & Rebalancing</li>
                          <li class="breadcrumb-item active" aria-current="page">Raise Cash</li>
                        </ol>
                      </nav>
                </div>

                <div class="HelpArea">
                    <ul class="nav nav-tabs boxs justify-content-around pt-4 newBlock" id="myTab" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active" id="Raise-tab" data-toggle="tab" href="#Raise" role="tab" aria-controls="Raise" aria-selected="true">Raise Cash</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="Invest-tab" data-toggle="tab" href="#Invest" role="tab" aria-controls="Invest" aria-selected="false">Invest Cash</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Raise" role="tabpanel" aria-labelledby="Raise-tab">
                            <div class="TableList">
                                <div class="mainTable ">
                                    <table class="table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Client Name</th> 
                                                <th>Account Number</th>  
                                                <th>Portfolio Name</th>  
                                                <th>Date of Raising </th>  
                                                <th>Amount Raised</th>  
                                            </tr>
                                        </thead>
                        
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>    
                                            <tr>
                                                <td>2</td>
                                                <td>Vishal Yadav</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                            <tr>
                                                <td>3</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                            <tr>
                                                <td>4</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                            <tr>
                                                <td>5</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                        </tbody>
                                    </table>
                                </div>
                                <div class="Pagination">
                                    <ul>
                                        <li><a href="javaScript:void(0)"><img src="assets/images/left-arrow.svg" alt=""></a></li>
                                        <li class="active"><a href="javaScript:void(0)">1</a></li>
                                        <li><a href="javaScript:void(0)">2</a></li>
                                        <li><a href="javaScript:void(0)">3</a></li>
                                        <li><a href="javaScript:void(0)"><img src="assets/images/right-arrow.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Invest" role="tabpanel" aria-labelledby="Invest-tab">
                            <div class="TableList">
                                <div class="mainTable ">
                                    <table class="table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Client Name</th> 
                                                <th>Account Number</th>  
                                                <th>Portfolio Name</th>  
                                                <th>Date of Investing </th>  
                                                <th>Amount Invested</th>  
                                            </tr>
                                        </thead>
                        
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>    
                                            <tr>
                                                <td>2</td>
                                                <td>Vishal Yadav</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                            <tr>
                                                <td>3</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                            <tr>
                                                <td>4</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                            <tr>
                                                <td>5</td>
                                                <td>Simmi Sharma</td> 
                                                <td>2323232</td>  
                                                <td>Managed</td>  
                                                <td>20-2-20</td>  
                                                <td>$5672</td> 
                                            </tr>  
                                        </tbody>
                                    </table>
                                </div>
                                <div class="Pagination">
                                    <ul>
                                        <li><a href="javaScript:void(0)"><img src="assets/images/left-arrow.svg" alt=""></a></li>
                                        <li class="active"><a href="javaScript:void(0)">1</a></li>
                                        <li><a href="javaScript:void(0)">2</a></li>
                                        <li><a href="javaScript:void(0)">3</a></li>
                                        <li><a href="javaScript:void(0)"><img src="assets/images/right-arrow.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>