
<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
            

                <div class="HelpArea">
                    <ul class="nav nav-tabs boxs justify-content-around pt-4 newBlock" id="myTab" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active" id="Raise-tab" data-toggle="tab" href="#Raise" role="tab" aria-controls="Raise" aria-selected="true">Popular Stocks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="Invest-tab" data-toggle="tab" href="#Invest" role="tab" aria-controls="Invest" aria-selected="false">Popular Etfs</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Raise" role="tabpanel" aria-labelledby="Raise-tab">
                            <div class="newGraphTable">
                                <h2 style="padding-bottom: 20px;">Popular stocks
                                </h2>
                                <div class="TableList">
                                    <div class="mainTable ">
                                        <table class="table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th>Ticker</th>
                                                    <th> Name</th>
                                                    <th>Latest Price</th>
                                                    <th>holdings type</th>
                                                    <th>allocation %</th>
                                               
                                                </tr>
                                            </thead>
                
                                            <tbody>
                                                <tr>
                                                    <td>USD Cash</td>
                                                    <td>USD Cash</td>
                                                    <td></td>
                                                    <td> Cash</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="26%" readonly>
                                                    <button class="minus"><i class="fa fa-minus"></i></button>
                                                    </span></td>
                                               
                                                </tr>
                                                <tr>
                                                    <td class="sky">AMZN</td>
                                                    <td>USD Cash</td>
                                                    <td>3,311.00</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="24%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                                
                                                </tr>
                                                <tr>
                                                    <td class="sky">MSFT</td>
                                                    <td>USD Cash</td>
                                                    <td>223.31</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="40%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                               
                                                </tr>
                                                <tr>
                                                    <td class="sky">AAPL</td>
                                                    <td>USD Cash</td>
                                                    <td>121.42</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="20.8%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                               
                                                </tr>
                                                <tr>
                                                    <td class="sky">AAPL</td>
                                                    <td>USD Cash</td>
                                                    <td>983.00</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="20.6%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                                
                                                </tr>
                                                <tr>
                                                    <td>USD Cash</td>
                                                    <td>USD Cash</td>
                                                    <td></td>
                                                    <td> Cash</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="29%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                                
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 

                            </div>
                        </div>
                        <div class="tab-pane fade" id="Invest" role="tabpanel" aria-labelledby="Invest-tab">
                            <div class="newGraphTable">
                                <h2 style="padding-bottom: 20px;">Popular Etfs
                                </h2>
                                <div class="TableList">
                                    <div class="mainTable ">
                                        <table class="table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th>Ticker</th>
                                                    <th> Name</th>
                                                    <th>Latest Price</th>
                                                    <th>holdings type</th>
                                                    <th>allocation %</th>
                                               
                                                </tr>
                                            </thead>
                
                                            <tbody>
                                                <tr>
                                                    <td>USD Cash</td>
                                                    <td>USD Cash</td>
                                                    <td></td>
                                                    <td> Cash</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="26%" readonly>
                                                    <button class="minus"><i class="fa fa-minus"></i></button>
                                                    </span></td>
                                               
                                                </tr>
                                                <tr>
                                                    <td class="sky">AMZN</td>
                                                    <td>USD Cash</td>
                                                    <td>3,311.00</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="24%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                                
                                                </tr>
                                                <tr>
                                                    <td class="sky">MSFT</td>
                                                    <td>USD Cash</td>
                                                    <td>223.31</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="40%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                               
                                                </tr>
                                                <tr>
                                                    <td class="sky">AAPL</td>
                                                    <td>USD Cash</td>
                                                    <td>121.42</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="20.8%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                               
                                                </tr>
                                                <tr>
                                                    <td class="sky">AAPL</td>
                                                    <td>USD Cash</td>
                                                    <td>983.00</td>
                                                    <td class="sky"> Stock</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="20.6%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                                
                                                </tr>
                                                <tr>
                                                    <td>USD Cash</td>
                                                    <td>USD Cash</td>
                                                    <td></td>
                                                    <td> Cash</td>
                                                    <td><span class="inputBox"><input type="text" class="formControl" value="29%" readonly>
                                                        <button class="minus"><i class="fa fa-minus"></i></button>
                                                        </span></td>
                                                
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>

                    <div class="totalCount totalCountModel" style="padding: 40px 0px;">
                        <div class="SearchBox SearchBoxModel">
                            <a href="javaScript:void(0)" class="ml-0"><i class="fa fa-plus-circle"
                                    aria-hidden="true"></i>Add New</a>
                        </div>
                        <div class="SearchBox">
                            <div class="SearchBox searchIcon">
                                <form action="">
                                    <input type="text" style="width: 450px;" placeholder="Search">
                                    <a class="searchIconBtn" href="javaScipt:void(0)"><img
                                            src="assets/images/search.svg" alt=""></a>
                                </form>
                         
                            </div>
                        </div>
               
                
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>