<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
                <ul class="nav nav-tabs MainTabAll" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link active" id="Statements-tab" data-toggle="tab" href="#Statements" role="tab" aria-controls="Statements" aria-selected="true">Statements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="Confirmations-tab" data-toggle="tab" href="#Confirmations" role="tab" aria-controls="Confirmations" aria-selected="false">Trade Confirmation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="Tax-tab" data-toggle="tab" href="#Tax" role="tab" aria-controls="Tax" aria-selected="false">Tax Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Ageements-tab" data-toggle="tab" href="#Ageements" role="tab" aria-controls="Ageements" aria-selected="false">Agreements</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Statements" role="tabpanel" aria-labelledby="Statements-tab">
                        <div class="TradeConfirmation mb-5">
                            <div class="mainTrade">
                                <h4 class="pb-2">Statements <span>25, September</span></h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                            </div>
                        </div>

                        <div class="TradeConfirmation mb-5">
                            <div class="mainTrade">
                                <h4 class="pb-2">Statements<span>25, September</span></h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="Confirmations" role="tabpanel" aria-labelledby="Confirmations-tab">
                        <div class="HelpArea">
                            <ul class="nav nav-tabs MainTabAll" id="myTab" role="tablist">
                                <li class="nav-item ">
                                    <a class="nav-link active" id="ManagedTrade-tab" data-toggle="tab" href="#ManagedTrade" role="tab" aria-controls="ManagedTrade" aria-selected="true">Managed Trade Confirmation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="Self-Directed-tab" data-toggle="tab" href="#Self-Directed" role="tab" aria-controls="Self-Directed" aria-selected="false">Self-Directed Trade Confirmation</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="ManagedTrade" role="tabpanel" aria-labelledby="ManagedTrade-tab">
                                    <div class="TradeConfirmation mb-5">
                                        <div class="mainTrade">
                                            <h4 class="pb-2">Trade Confirmation <span>25, September</span></h4>
                                            <h5>Description:</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                            <h5>Status : Pending <span class="Green">$5</span></h5>
                                        </div>
                                    </div>
                                    <div class="TradeConfirmation mb-5">
                                        <div class="mainTrade">
                                            <h4 class="pb-2">Trade Confirmation <span>25, September</span></h4>
                                            <h5>Description:</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                            <h5>Status : Pending <span class="Green">$5</span></h5>
                                        </div>
                                    </div>
                                    <div class="TradeConfirmation mb-5">
                                        <div class="mainTrade">
                                            <h4 class="pb-2">Trade Confirmation <span>25, September</span></h4>
                                            <h5>Description:</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                            <h5>Status : Pending <span class="Green">$5</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Self-Directed" role="tabpanel" aria-labelledby="Self-Directed-tab">
                                    <div class="TradeConfirmation mb-5">
                                        <div class="mainTrade">
                                            <h4 class="pb-2">Trade Confirmation <span>25, September</span></h4>
                                            <h5>Description:</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                            <h5>Status : Pending <span class="Green">$5</span></h5>
                                        </div>
                                    </div>
                                    <div class="TradeConfirmation mb-5">
                                        <div class="mainTrade">
                                            <h4 class="pb-2">Trade Confirmation <span>25, September</span></h4>
                                            <h5>Description:</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                            <h5>Status : Pending <span class="Green">$5</span></h5>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="Tax" role="tabpanel" aria-labelledby="Tax-tab">
                        <div class="TradeConfirmation mb-5">
                            <div class="mainTrade">
                                <h4 class="pb-2">Tax Form year 2020 <span>25, September</span></h4>
                                <h5>Description:</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                <div class="downloadTrade">
                                    <a href="javaScript:void(0)"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="TradeConfirmation mb-5">
                            <div class="mainTrade">
                                <h4 class="pb-2">Tax Form year 2019 <span>25, September</span></h4>
                                <h5>Description:</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                <div class="downloadTrade">
                                    <a href="javaScript:void(0)"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="Ageements" role="tabpanel" aria-labelledby="Ageements-tab">
                        <div class="TradeConfirmation mb-5">
                            <div class="mainTrade">
                                <h4 class="pb-2">Legal Agreement-1 <span>Last Updated on 25, September</span></h4>
                                <h5>Description:</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                <div class="downloadTrade">
                                    <a href="javaScript:void(0)" class="mr-4"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="javaScript:void(0)"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="TradeConfirmation mb-5">
                            <div class="mainTrade">
                                <h4 class="pb-2">Legal Agreement-2 <span>Last Updated on 25, September</span></h4>
                                <h5>Description:</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non illum, mollitia eos ipsa harum, cupiditate ex optio doloremque animi voluptatem debitis adipisci sapiente saepe hic architecto pariatur dignissimos repellat.</p>
                                <div class="downloadTrade">
                                    <a href="javaScript:void(0)" class="mr-4"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="javaScript:void(0)"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
