<app-header></app-header>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="HelpArea">
                <!-- <ul class="nav nav-tabs MainTabAll">
                    <li class="nav-item ">
                        <a class="nav-link " [routerLink]="['/summary']">Summary | Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/client']">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/investing']">Investing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/transactions']">Transactions</a>
                    </li>
                </ul> -->
            
<div class="enterKey">

    <div class="SearchBox">
        <div class="Filter FilterSearch">
            <div class="form-group">
                <label>Account</label>
                <select class="form-control"> 
                    <option>Self Directed</option>
                    <option>Managed</option>
                </select>
            </div>
        </div>
    </div>
    
</div>
<div class="recentAct">
    <div class="searchBar">
        <div class="searchLeft">
            <div class="filterFlex filterFlexnew">
                <div class="SearchBox searchIcon">
                    <form action="">
                        <input type="text" style="width: 250px;" placeholder="Search">
                        <a class="searchIconBtn" href="javaScipt:void(0)"><img
                                src="assets/images/search.svg" alt=""></a>
                    </form>
                    <a href="javaScript:void(0)">
                        <img class="csv img-fluid" src="assets/images/csv.svg">Download</a>
                </div>
                <div class="allAct">
                    <select name="activity" id="activity">
                        <option value="activity0">Activity</option>
                        <option value="activity1">DEP</option>
                        <option value="activity2">WITH</option>
                        <option value="activity3">FEES</option>
                        <option value="activity4">AO</option>
                        <option value="activity5">CNCL</option>
                        <option value="activity6">REFR</option>
                        
                    </select>
                    <select name="activity" id="activity" style="margin-left: 25px;">
                        <option value="times0">All Times</option>
                        <option value="times2">1 Month</option>
                        <option value="times3">3 Months</option>
                        <option value="times4">6 months</option>
                        <option value="times5">1 Year</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="TableList">
        <div class="mainTable ">
            <table class="table table-bordered " style="width: 100%;">
                <tbody>
                    <tr>
                        <td><a href="javascript:void(0)" class="colorTer">FEES</a></td>
                        <td>01|12|2020</td>
                        <td>July Fee billings run ready to excute.</td>
                        <td><a href="javascript:void(0)" class="view">view</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0)" class="colorTer">FEES</a></td>
                        <td>01|12|2020</td>
                        <td>July Fee billings run ready to excute.</td>
                        <td><a href="javascript:void(0)" class="view">view</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0)" class="colorTer">FEES</a></td>
                        <td>01|12|2020</td>
                        <td>July Fee billings run ready to excute.</td>
                        <td><a href="javascript:void(0)" class="view">view</a></td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0)" class="colorTer">FEES</a></td>
                        <td>01|12|2020</td>
                        <td>July Fee billings run ready to excute.</td>
                        <td><a href="javascript:void(0)" class="view">view</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>